@page
@model DemoApp.Pages.Index1Model
@{
    ViewData["Title"] = "Test Page";
}
<body>
    <h1>Hello user.....</h1>
    <h2>Please insert your name below</h2>
    <img src="https://www.freecatphotoapp.com/your-image.jpg">
    <input id="Button1" type="button" value="button" />

</body>